body {
    margin: 0;
    font-family: "Karla", sans-serif;
}

.header {
    /* add thick border shadow to the bottom */
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 10px 20px;
    color: white;
}

            .header--left {
                display: flex;   
                align-items: center; 
            }

            .header--left img {
                height: 50px;
                margin-right: 10px;
            }